.mule/plugins-tmp/repository/4.4.0/com/mulesoft/connectors/mule4-salesforce-pubsub-connector/1.0.1/mule4-salesforce-pubsub-connector-1.0.1-mule-plugin.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.mulesoft.org/schema/mule/salesforce-pub-sub" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace"></xs:import>
  <xs:import namespace="http://www.springframework.org/schema/beans" schemaLocation="http://www.springframework.org/schema/beans/spring-beans.xsd"></xs:import>
  <xs:import namespace="http://www.mulesoft.org/schema/mule/core" schemaLocation="http://www.mulesoft.org/schema/mule/core/current/mule.xsd"></xs:import>
  <xs:import namespace="http://www.mulesoft.org/schema/mule/tls" schemaLocation="http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd"></xs:import>
  <xs:complexType name="com.mulesoft.connector.salesforce.pubsub.api.param.ReplayOption">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType"></xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns:salesforce-pub-sub="http://www.mulesoft.org/schema/mule/salesforce-pub-sub" type="salesforce-pub-sub:com.mulesoft.connector.salesforce.pubsub.api.param.ReplayOption" substitutionGroup="mule:abstract-shared-extension" abstract="true" name="global-abstract-replay-option"></xs:element>
  <xs:element xmlns:salesforce-pub-sub="http://www.mulesoft.org/schema/mule/salesforce-pub-sub" type="salesforce-pub-sub:com.mulesoft.connector.salesforce.pubsub.api.param.ReplayOption" abstract="true" name="abstract-replay-option"></xs:element>
  <xs:complexType name="com.mulesoft.connector.salesforce.pubsub.api.param.EarliestReplayOption">
    <xs:complexContent>
      <xs:extension xmlns:salesforce-pub-sub="http://www.mulesoft.org/schema/mule/salesforce-pub-sub" base="salesforce-pub-sub:com.mulesoft.connector.salesforce.pubsub.api.param.ReplayOption"></xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:salesforce-pub-sub="http://www.mulesoft.org/schema/mule/salesforce-pub-sub" type="salesforce-pub-sub:com.mulesoft.connector.salesforce.pubsub.api.param.EarliestReplayOption" substitutionGroup="salesforce-pub-sub:abstract-replay-option" abstract="true" name="abstract-earliest"></xs:element>
  <xs:element xmlns:salesforce-pub-sub="http://www.mulesoft.org/schema/mule/salesforce-pub-sub" substitutionGroup="salesforce-pub-sub:abstract-earliest" name="earliest">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="salesforce-pub-sub:com.mulesoft.connector.salesforce.pubsub.api.param.EarliestReplayOption"></xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="com.mulesoft.connector.salesforce.pubsub.api.param.LatestReplayOption">
    <xs:complexContent>
      <xs:extension xmlns:salesforce-pub-sub="http://www.mulesoft.org/schema/mule/salesforce-pub-sub" base="salesforce-pub-sub:com.mulesoft.connector.salesforce.pubsub.api.param.ReplayOption"></xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:salesforce-pub-sub="http://www.mulesoft.org/schema/mule/salesforce-pub-sub" type="salesforce-pub-sub:com.mulesoft.connector.salesforce.pubsub.api.param.LatestReplayOption" substitutionGroup="salesforce-pub-sub:abstract-replay-option" abstract="true" name="abstract-latest"></xs:element>
  <xs:element xmlns:salesforce-pub-sub="http://www.mulesoft.org/schema/mule/salesforce-pub-sub" substitutionGroup="salesforce-pub-sub:abstract-latest" name="latest">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="salesforce-pub-sub:com.mulesoft.connector.salesforce.pubsub.api.param.LatestReplayOption"></xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="com.mulesoft.connector.salesforce.pubsub.api.param.CustomReplayIdReplayOption">
    <xs:complexContent>
      <xs:extension xmlns:salesforce-pub-sub="http://www.mulesoft.org/schema/mule/salesforce-pub-sub" base="salesforce-pub-sub:com.mulesoft.connector.salesforce.pubsub.api.param.ReplayOption">
        <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionLong" use="required" name="replayId"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:salesforce-pub-sub="http://www.mulesoft.org/schema/mule/salesforce-pub-sub" type="salesforce-pub-sub:com.mulesoft.connector.salesforce.pubsub.api.param.CustomReplayIdReplayOption" substitutionGroup="salesforce-pub-sub:abstract-replay-option" abstract="true" name="abstract-custom-replay-id"></xs:element>
  <xs:element xmlns:salesforce-pub-sub="http://www.mulesoft.org/schema/mule/salesforce-pub-sub" substitutionGroup="salesforce-pub-sub:abstract-custom-replay-id" name="custom-replay-id">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="salesforce-pub-sub:com.mulesoft.connector.salesforce.pubsub.api.param.CustomReplayIdReplayOption"></xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="com.mulesoft.connector.salesforce.pubsub.api.param.FromOsReplayIdReplayOption">
    <xs:complexContent>
      <xs:extension xmlns:salesforce-pub-sub="http://www.mulesoft.org/schema/mule/salesforce-pub-sub" base="salesforce-pub-sub:com.mulesoft.connector.salesforce.pubsub.api.param.ReplayOption">
        <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionString" use="required" name="osName"></xs:attribute>
        <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionString" use="required" name="osKey"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:salesforce-pub-sub="http://www.mulesoft.org/schema/mule/salesforce-pub-sub" type="salesforce-pub-sub:com.mulesoft.connector.salesforce.pubsub.api.param.FromOsReplayIdReplayOption" substitutionGroup="salesforce-pub-sub:abstract-replay-option" abstract="true" name="abstract-replay-id-from-object-store"></xs:element>
  <xs:element xmlns:salesforce-pub-sub="http://www.mulesoft.org/schema/mule/salesforce-pub-sub" substitutionGroup="salesforce-pub-sub:abstract-replay-id-from-object-store" name="replay-id-from-object-store">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="salesforce-pub-sub:com.mulesoft.connector.salesforce.pubsub.api.param.FromOsReplayIdReplayOption"></xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstract-shared-extension" name="pubsub-config">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractExtensionType">
          <xs:annotation>
            <xs:documentation>This class represents an extension configuration, values set in this class are commonly used across multiple operations since they represent something core from the extension.</xs:documentation>
          </xs:annotation>
          <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element minOccurs="1" maxOccurs="1" ref="mule:abstractConnectionProvider"></xs:element>
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:expiration-policy"></xs:element>
          </xs:sequence>
          <xs:attribute type="xs:string" use="required" name="name">
            <xs:annotation>
              <xs:documentation>The identifier of this element used to reference it in other components</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstractConnectionProvider" name="basic-connection">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractConnectionProviderType">
          <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:reconnection"></xs:element>
            <xs:element xmlns:tls="http://www.mulesoft.org/schema/mule/tls" minOccurs="0" maxOccurs="1" ref="tls:context"></xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="proxy-configuration">
              <xs:annotation>
                <xs:documentation>Proxy configuration for the connector.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension xmlns:salesforce-pub-sub="http://www.mulesoft.org/schema/mule/salesforce-pub-sub" base="salesforce-pub-sub:com.mulesoft.connector.salesforce.pubsub.api.param.ProxyConfiguration"></xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute type="xs:string" use="optional" name="tlsContext"></xs:attribute>
          <xs:attribute type="mule:expressionInt" use="optional" default="0" name="connectionTimeout">
            <xs:annotation>
              <xs:documentation>Specifies the amount of time that the consumer will attempt to establish a connection before it times out. Works in tandem with Time unit. Values less than one millisecond will be converted to 0</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/salesforce-pub-sub" type="java.util.concurrent.TimeUnitEnumType" use="optional" default="SECONDS" name="connectionTimeoutUnit"></xs:attribute>
          <xs:attribute type="mule:expressionInt" use="optional" default="0" name="loginRequestTimeout">
            <xs:annotation>
              <xs:documentation>Specifies the amount of time the client will wait until the answer for the login request is received before it times out. Works in tandem with Login Request Time unit. Values less than one millisecond will be converted to 0</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/salesforce-pub-sub" type="java.util.concurrent.TimeUnitEnumType" use="optional" default="SECONDS" name="loginRequestTimeoutUnit"></xs:attribute>
          <xs:attribute type="xs:string" use="optional" name="proxyConfiguration">
            <xs:annotation>
              <xs:documentation>Proxy configuration for the connector.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="username">
            <xs:annotation>
              <xs:documentation>Username used to initialize the session.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="password">
            <xs:annotation>
              <xs:documentation>Password used to authenticate the user.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" name="securityToken">
            <xs:annotation>
              <xs:documentation>User's security token. It can be omitted if your IP has been added to the allow list on Salesforce.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" name="url">
            <xs:annotation>
              <xs:documentation>Web service URL responsible for user authentication. This is the URL for the endpoint that is configured to handle SOAP authentication requests.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" default="api.pilot.pubsub.salesforce.com" name="host">
            <xs:annotation>
              <xs:documentation>Host where the proxy requests will be sent.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionInt" use="optional" default="7443" name="port">
            <xs:annotation>
              <xs:documentation>Port where the proxy requests will be sent.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="com.mulesoft.connector.salesforce.pubsub.api.param.ProxyConfiguration">
    <xs:annotation>
      <xs:documentation>Proxy configuration for the connector.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType">
        <xs:attribute type="mule:expressionString" use="required" name="host"></xs:attribute>
        <xs:attribute type="mule:expressionInt" use="required" name="port"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="username"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="password"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstractConnectionProvider" name="config-with-oauth-connection">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractConnectionProviderType">
          <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:reconnection"></xs:element>
            <xs:element xmlns:tls="http://www.mulesoft.org/schema/mule/tls" minOccurs="0" maxOccurs="1" ref="tls:context"></xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="proxy-configuration">
              <xs:annotation>
                <xs:documentation>Proxy configuration for the connector.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension xmlns:salesforce-pub-sub="http://www.mulesoft.org/schema/mule/salesforce-pub-sub" base="salesforce-pub-sub:com.mulesoft.connector.salesforce.pubsub.api.param.ProxyConfiguration"></xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="oauth-authorization-code">
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension base="mule:abstractExtensionType">
                    <xs:sequence></xs:sequence>
                    <xs:attribute type="xs:string" use="required" name="consumerKey">
                      <xs:annotation>
                        <xs:documentation>The OAuth consumerKey as registered with the service provider</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="xs:string" use="required" name="consumerSecret">
                      <xs:annotation>
                        <xs:documentation>The OAuth consumerSecret as registered with the service provider</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="xs:string" use="optional" default="https://login.salesforce.com/services/oauth2/authorize" name="authorizationUrl">
                      <xs:annotation>
                        <xs:documentation>The service provider's authorization endpoint URL</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="xs:string" use="optional" default="https://login.salesforce.com/services/oauth2/token" name="accessTokenUrl">
                      <xs:annotation>
                        <xs:documentation>The service provider's accessToken endpoint URL</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="xs:string" use="optional" name="scopes">
                      <xs:annotation>
                        <xs:documentation>The OAuth scopes to be requested during the dance. If not provided, it will default to those in the annotation</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="mule:expressionString" use="optional" name="resourceOwnerId">
                      <xs:annotation>
                        <xs:documentation>The resourceOwnerId which each component should use if it doesn't reference otherwise.</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="xs:string" use="optional" name="before">
                      <xs:annotation>
                        <xs:documentation>The name of a flow to be executed right before starting the OAuth dance</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="xs:string" use="optional" name="after">
                      <xs:annotation>
                        <xs:documentation>The name of a flow to be executed right after an accessToken has been received</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="oauth-callback-config">
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension base="mule:abstractExtensionType">
                    <xs:sequence></xs:sequence>
                    <xs:attribute type="xs:string" use="required" name="listenerConfig">
                      <xs:annotation>
                        <xs:documentation>A reference to a &lt;http:listener-config /&gt; to be used in order to create the listener that will catch the access token callback endpoint.</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="xs:string" use="required" name="callbackPath">
                      <xs:annotation>
                        <xs:documentation>The path of the access token callback endpoint</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="xs:string" use="required" name="authorizePath">
                      <xs:annotation>
                        <xs:documentation>The path of the local http endpoint which triggers the OAuth dance</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="xs:string" use="optional" name="externalCallbackUrl">
                      <xs:annotation>
                        <xs:documentation>If the callback endpoint is behind a proxy or should be accessed through a non direct URL, use this parameter to tell the OAuth provider the URL it should use to access the callback</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="oauth-store-config">
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension base="mule:abstractExtensionType">
                    <xs:sequence></xs:sequence>
                    <xs:attribute type="xs:string" use="optional" name="objectStore">
                      <xs:annotation>
                        <xs:documentation>A reference to the object store that should be used to store each resource owner id's data. If not specified, runtime will automatically provision the default one.</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute type="xs:string" use="optional" name="tlsContext"></xs:attribute>
          <xs:attribute type="mule:expressionInt" use="optional" default="0" name="connectionTimeout">
            <xs:annotation>
              <xs:documentation>Specifies the amount of time that the consumer will attempt to establish a connection before it times out. Works in tandem with Time unit. Values less than one millisecond will be converted to 0</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/salesforce-pub-sub" type="java.util.concurrent.TimeUnitEnumType" use="optional" default="SECONDS" name="connectionTimeoutUnit"></xs:attribute>
          <xs:attribute type="mule:expressionInt" use="optional" default="0" name="loginRequestTimeout">
            <xs:annotation>
              <xs:documentation>Specifies the amount of time the client will wait until the answer for the login request is received before it times out. Works in tandem with Login Request Time unit. Values less than one millisecond will be converted to 0</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/salesforce-pub-sub" type="java.util.concurrent.TimeUnitEnumType" use="optional" default="SECONDS" name="loginRequestTimeoutUnit"></xs:attribute>
          <xs:attribute type="xs:string" use="optional" name="proxyConfiguration">
            <xs:annotation>
              <xs:documentation>Proxy configuration for the connector.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionDouble" use="optional" name="apiVersion">
            <xs:annotation>
              <xs:documentation>The API version used. Defaults to the latest api version supported by the connector</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" default="api.pilot.pubsub.salesforce.com" name="host">
            <xs:annotation>
              <xs:documentation>Host where the proxy requests will be sent.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionInt" use="optional" default="7443" name="port">
            <xs:annotation>
              <xs:documentation>Port where the proxy requests will be sent.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstractConnectionProvider" name="jwt-connection">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractConnectionProviderType">
          <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:reconnection"></xs:element>
            <xs:element xmlns:tls="http://www.mulesoft.org/schema/mule/tls" minOccurs="0" maxOccurs="1" ref="tls:context"></xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="proxy-configuration">
              <xs:annotation>
                <xs:documentation>Proxy configuration for the connector.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension xmlns:salesforce-pub-sub="http://www.mulesoft.org/schema/mule/salesforce-pub-sub" base="salesforce-pub-sub:com.mulesoft.connector.salesforce.pubsub.api.param.ProxyConfiguration"></xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute type="xs:string" use="optional" name="tlsContext"></xs:attribute>
          <xs:attribute type="mule:expressionInt" use="optional" default="0" name="connectionTimeout">
            <xs:annotation>
              <xs:documentation>Specifies the amount of time that the consumer will attempt to establish a connection before it times out. Works in tandem with Time unit. Values less than one millisecond will be converted to 0</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/salesforce-pub-sub" type="java.util.concurrent.TimeUnitEnumType" use="optional" default="SECONDS" name="connectionTimeoutUnit"></xs:attribute>
          <xs:attribute type="mule:expressionInt" use="optional" default="0" name="loginRequestTimeout">
            <xs:annotation>
              <xs:documentation>Specifies the amount of time the client will wait until the answer for the login request is received before it times out. Works in tandem with Login Request Time unit. Values less than one millisecond will be converted to 0</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/salesforce-pub-sub" type="java.util.concurrent.TimeUnitEnumType" use="optional" default="SECONDS" name="loginRequestTimeoutUnit"></xs:attribute>
          <xs:attribute type="xs:string" use="optional" name="proxyConfiguration">
            <xs:annotation>
              <xs:documentation>Proxy configuration for the connector.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionDouble" use="optional" name="apiVersion">
            <xs:annotation>
              <xs:documentation>The API version used. Defaults to the latest api version supported by the connector</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="consumerKey">
            <xs:annotation>
              <xs:documentation>Consumer key for Salesforce connected app</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="keyStore">
            <xs:annotation>
              <xs:documentation>Path to key store used to sign data during authentication</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="storePassword">
            <xs:annotation>
              <xs:documentation>Password of key store</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" name="certificateAlias">
            <xs:annotation>
              <xs:documentation>Alias of the certificate</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="principal">
            <xs:annotation>
              <xs:documentation>Username of desired Salesforce user to take action on behalf of</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" default="https://login.salesforce.com/services/oauth2/token" name="tokenEndpoint">
            <xs:annotation>
              <xs:documentation>URL pointing to the server responsible for providing the authentication token. According to Salesforce it should be https://login.salesforce.com/services/oauth2/token, or, if implementing for a community, https://acme.force.com/customers/services/oauth2/token (where acme.force.com/customers is your community URL).</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" name="audienceUrl">
            <xs:annotation>
              <xs:documentation>The audience identifies the authorization server as an intended audience. The authorization server must verify that it is an intended audience for the token. Use the authorization server's URL for the audience value: https://login.salesforce.com, https://test.salesforce.com, or https://community.force.com/customers if implementing for a community.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" default="api.pilot.pubsub.salesforce.com" name="host">
            <xs:annotation>
              <xs:documentation>Host where the proxy requests will be sent.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionInt" use="optional" default="7443" name="port">
            <xs:annotation>
              <xs:documentation>Port where the proxy requests will be sent.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstractConnectionProvider" name="oauth-user-pass-connection">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractConnectionProviderType">
          <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:reconnection"></xs:element>
            <xs:element xmlns:tls="http://www.mulesoft.org/schema/mule/tls" minOccurs="0" maxOccurs="1" ref="tls:context"></xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="proxy-configuration">
              <xs:annotation>
                <xs:documentation>Proxy configuration for the connector.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension xmlns:salesforce-pub-sub="http://www.mulesoft.org/schema/mule/salesforce-pub-sub" base="salesforce-pub-sub:com.mulesoft.connector.salesforce.pubsub.api.param.ProxyConfiguration"></xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute type="xs:string" use="optional" name="tlsContext"></xs:attribute>
          <xs:attribute type="mule:expressionInt" use="optional" default="0" name="connectionTimeout">
            <xs:annotation>
              <xs:documentation>Specifies the amount of time that the consumer will attempt to establish a connection before it times out. Works in tandem with Time unit. Values less than one millisecond will be converted to 0</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/salesforce-pub-sub" type="java.util.concurrent.TimeUnitEnumType" use="optional" default="SECONDS" name="connectionTimeoutUnit"></xs:attribute>
          <xs:attribute type="mule:expressionInt" use="optional" default="0" name="loginRequestTimeout">
            <xs:annotation>
              <xs:documentation>Specifies the amount of time the client will wait until the answer for the login request is received before it times out. Works in tandem with Login Request Time unit. Values less than one millisecond will be converted to 0</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/salesforce-pub-sub" type="java.util.concurrent.TimeUnitEnumType" use="optional" default="SECONDS" name="loginRequestTimeoutUnit"></xs:attribute>
          <xs:attribute type="xs:string" use="optional" name="proxyConfiguration">
            <xs:annotation>
              <xs:documentation>Proxy configuration for the connector.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionDouble" use="optional" name="apiVersion">
            <xs:annotation>
              <xs:documentation>The API version used. Defaults to the latest api version supported by the connector</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="consumerKey">
            <xs:annotation>
              <xs:documentation>Consumer key for Salesforce connected app</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="consumerSecret">
            <xs:annotation>
              <xs:documentation>Your application's client secret (consumer secret in Remote Access Detail).</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="username">
            <xs:annotation>
              <xs:documentation>Username used to initialize the session</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="password">
            <xs:annotation>
              <xs:documentation>Password used to authenticate the user</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" name="securityToken">
            <xs:annotation>
              <xs:documentation>User's security token. It can be omitted if your IP has been added to the allow list on Salesforce</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" default="https://login.salesforce.com/services/oauth2/token" name="tokenEndpoint">
            <xs:annotation>
              <xs:documentation>URL pointing to the server responsible for providing the authentication token. According to Salesforce it should be https://login.salesforce.com/services/oauth2/token, or, if implementing for a community, https://acme.force.com/customers/services/oauth2/token (where acme.force.com/customers is your community URL).</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" default="api.pilot.pubsub.salesforce.com" name="host">
            <xs:annotation>
              <xs:documentation>Host where the proxy requests will be sent.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionInt" use="optional" default="7443" name="port">
            <xs:annotation>
              <xs:documentation>Port where the proxy requests will be sent.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstractConnectionProvider" name="saml-connection">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractConnectionProviderType">
          <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:reconnection"></xs:element>
            <xs:element xmlns:tls="http://www.mulesoft.org/schema/mule/tls" minOccurs="0" maxOccurs="1" ref="tls:context"></xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="proxy-configuration">
              <xs:annotation>
                <xs:documentation>Proxy configuration for the connector.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension xmlns:salesforce-pub-sub="http://www.mulesoft.org/schema/mule/salesforce-pub-sub" base="salesforce-pub-sub:com.mulesoft.connector.salesforce.pubsub.api.param.ProxyConfiguration"></xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute type="xs:string" use="optional" name="tlsContext"></xs:attribute>
          <xs:attribute type="mule:expressionInt" use="optional" default="0" name="connectionTimeout">
            <xs:annotation>
              <xs:documentation>Specifies the amount of time that the consumer will attempt to establish a connection before it times out. Works in tandem with Time unit. Values less than one millisecond will be converted to 0</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/salesforce-pub-sub" type="java.util.concurrent.TimeUnitEnumType" use="optional" default="SECONDS" name="connectionTimeoutUnit"></xs:attribute>
          <xs:attribute type="mule:expressionInt" use="optional" default="0" name="loginRequestTimeout">
            <xs:annotation>
              <xs:documentation>Specifies the amount of time the client will wait until the answer for the login request is received before it times out. Works in tandem with Login Request Time unit. Values less than one millisecond will be converted to 0</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/salesforce-pub-sub" type="java.util.concurrent.TimeUnitEnumType" use="optional" default="SECONDS" name="loginRequestTimeoutUnit"></xs:attribute>
          <xs:attribute type="xs:string" use="optional" name="proxyConfiguration">
            <xs:annotation>
              <xs:documentation>Proxy configuration for the connector.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionDouble" use="optional" name="apiVersion">
            <xs:annotation>
              <xs:documentation>The API version used. Defaults to the latest api version supported by the connector</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="consumerKey">
            <xs:annotation>
              <xs:documentation>Consumer key for Salesforce connected app</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="keyStore">
            <xs:annotation>
              <xs:documentation>Path to key store used to sign data during authentication</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="storePassword">
            <xs:annotation>
              <xs:documentation>Password of key store</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" name="certificateAlias">
            <xs:annotation>
              <xs:documentation>Alias of the certificate</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="principal">
            <xs:annotation>
              <xs:documentation>Username of desired Salesforce user to take action on behalf of.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" default="https://login.salesforce.com/services/oauth2/token" name="tokenEndpoint">
            <xs:annotation>
              <xs:documentation>URL pointing to the server responsible for providing the authentication token. According to Salesforce it should be https://login.salesforce.com/services/oauth2/token, or, if implementing for a community, https://acme.force.com/customers/services/oauth2/token (where acme.force.com/customers is your community URL).</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" default="api.pilot.pubsub.salesforce.com" name="host">
            <xs:annotation>
              <xs:documentation>Host where the proxy requests will be sent.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionInt" use="optional" default="7443" name="port">
            <xs:annotation>
              <xs:documentation>Port where the proxy requests will be sent.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/salesforce-pub-sub" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Subscribe-channel-listenerType" substitutionGroup="mule:abstract-message-source" name="subscribe-channel-listener"></xs:element>
  <xs:complexType name="Subscribe-channel-listenerType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageSourceType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-redelivery-policy"></xs:element>
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-byte-streaming-strategy"></xs:element>
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="replay-option">
            <xs:annotation>
              <xs:documentation>Interface with the following implementations: LATEST (subscriber receives new events that are broadcast after the client subscribes), EARLIEST (subscriber receives all events, including past events that are within the retention window of the server and new events sent after subscription), CUSTOM (subscriber will only receive events with a replay id higher than the specified value). REPLAY ID FROM OBJECT STORE (subscriber will only receive events with a replay id higher than the one specified inside object store).</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:choice minOccurs="1" maxOccurs="1">
                <xs:element xmlns:salesforce-pub-sub="http://www.mulesoft.org/schema/mule/salesforce-pub-sub" minOccurs="1" maxOccurs="1" ref="salesforce-pub-sub:abstract-replay-option"></xs:element>
                <xs:element xmlns:salesforce-pub-sub="http://www.mulesoft.org/schema/mule/salesforce-pub-sub" minOccurs="1" maxOccurs="1" ref="salesforce-pub-sub:global-abstract-replay-option"></xs:element>
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="required" name="channelName">
          <xs:annotation>
            <xs:documentation>The name of the streaming channel to subscribe to</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="replayOption">
          <xs:annotation>
            <xs:documentation>Interface with the following implementations: LATEST (subscriber receives new events that are broadcast after the client subscribes), EARLIEST (subscriber receives all events, including past events that are within the retention window of the server and new events sent after subscription), CUSTOM (subscriber will only receive events with a replay id higher than the specified value). REPLAY ID FROM OBJECT STORE (subscriber will only receive events with a replay id higher than the one specified inside object store).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:substitutableInt" use="optional" default="100" name="eventBatchSize">
          <xs:annotation>
            <xs:documentation>The total number of events included in a server batch. Lower values mean small memory footprint but more server calls while bigger values mean bigger memory footprint with less API calls. A new batch of events will be requested by the connector after the flow manages to consume the existing ones.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:substitutableBoolean" use="optional" name="primaryNodeOnly">
          <xs:annotation>
            <xs:documentation>Whether this source should only be executed on the primary node when runnning in Cluster</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/salesforce-pub-sub" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="PublishEventType" substitutionGroup="mule:abstract-operator" name="publish-event">
    <xs:annotation>
      <xs:documentation>Publish the given list of events to the specified event topic. Only high-volume platform events, including real-time event monitoring events and change data capture events are allowed.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="PublishEventType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="events">
            <xs:annotation>
              <xs:documentation>A list of events to be published that match the schema of the current topic.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="topic">
          <xs:annotation>
            <xs:documentation>The name of the topic used for message publishing.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/salesforce-pub-sub" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="UnauthorizeType" substitutionGroup="mule:abstract-operator" name="unauthorize">
    <xs:annotation>
      <xs:documentation>Deletes all the access token information of a given resource owner id so that it's impossible to execute any operation for that user without doing the authorization dance again</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="UnauthorizeType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1"></xs:sequence>
        <xs:attribute type="mule:expressionString" use="optional" name="resourceOwnerId">
          <xs:annotation>
            <xs:documentation>The id of the resource owner which access should be invalidated</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="java.util.concurrent.TimeUnitEnumType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="NANOSECONDS"></xs:enumeration>
          <xs:enumeration value="MICROSECONDS"></xs:enumeration>
          <xs:enumeration value="MILLISECONDS"></xs:enumeration>
          <xs:enumeration value="SECONDS"></xs:enumeration>
          <xs:enumeration value="MINUTES"></xs:enumeration>
          <xs:enumeration value="HOURS"></xs:enumeration>
          <xs:enumeration value="DAYS"></xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
</xs:schema>