.mule/plugins-tmp/repository/7.11.0/com/mulesoft/modules/mule-oauth2-provider-module/1.0.10/mule-oauth2-provider.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.mulesoft.org/schema/mule/oauth2-provider" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace"></xs:import>
  <xs:import namespace="http://www.springframework.org/schema/beans" schemaLocation="http://www.springframework.org/schema/beans/spring-beans.xsd"></xs:import>
  <xs:import namespace="http://www.mulesoft.org/schema/mule/core" schemaLocation="http://www.mulesoft.org/schema/mule/core/current/mule.xsd"></xs:import>
  <xs:complexType name="com.mulesoft.modules.oauth2.provider.api.token.generator.RefreshTokenStrategy">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType"></xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns:oauth2-provider="http://www.mulesoft.org/schema/mule/oauth2-provider" type="oauth2-provider:com.mulesoft.modules.oauth2.provider.api.token.generator.RefreshTokenStrategy" substitutionGroup="mule:abstract-shared-extension" abstract="true" name="global-abstract-refresh-token-strategy"></xs:element>
  <xs:element xmlns:oauth2-provider="http://www.mulesoft.org/schema/mule/oauth2-provider" type="oauth2-provider:com.mulesoft.modules.oauth2.provider.api.token.generator.RefreshTokenStrategy" abstract="true" name="abstract-refresh-token-strategy"></xs:element>
  <xs:complexType name="com.mulesoft.modules.oauth2.provider.api.token.generator.NoRefreshTokenStrategy">
    <xs:complexContent>
      <xs:extension xmlns:oauth2-provider="http://www.mulesoft.org/schema/mule/oauth2-provider" base="oauth2-provider:com.mulesoft.modules.oauth2.provider.api.token.generator.RefreshTokenStrategy">
        <xs:attribute type="xs:string" use="optional" name="tokenGeneratorStrategy"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:oauth2-provider="http://www.mulesoft.org/schema/mule/oauth2-provider" type="oauth2-provider:com.mulesoft.modules.oauth2.provider.api.token.generator.NoRefreshTokenStrategy" substitutionGroup="oauth2-provider:abstract-refresh-token-strategy" abstract="true" name="abstract-no-refresh-token"></xs:element>
  <xs:element xmlns:oauth2-provider="http://www.mulesoft.org/schema/mule/oauth2-provider" substitutionGroup="oauth2-provider:abstract-no-refresh-token" name="no-refresh-token">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="oauth2-provider:com.mulesoft.modules.oauth2.provider.api.token.generator.NoRefreshTokenStrategy"></xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="com.mulesoft.modules.oauth2.provider.api.token.generator.SingleRefreshTokenStrategy">
    <xs:complexContent>
      <xs:extension xmlns:oauth2-provider="http://www.mulesoft.org/schema/mule/oauth2-provider" base="oauth2-provider:com.mulesoft.modules.oauth2.provider.api.token.generator.RefreshTokenStrategy">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" name="object-store">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" minOccurs="1" maxOccurs="1" ref="mule:abstract-private-object-store"></xs:element>
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="optional" name="objectStore"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:oauth2-provider="http://www.mulesoft.org/schema/mule/oauth2-provider" type="oauth2-provider:com.mulesoft.modules.oauth2.provider.api.token.generator.SingleRefreshTokenStrategy" substitutionGroup="oauth2-provider:abstract-refresh-token-strategy" abstract="true" name="abstract-single-refresh-token"></xs:element>
  <xs:element xmlns:oauth2-provider="http://www.mulesoft.org/schema/mule/oauth2-provider" substitutionGroup="oauth2-provider:abstract-single-refresh-token" name="single-refresh-token">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="oauth2-provider:com.mulesoft.modules.oauth2.provider.api.token.generator.SingleRefreshTokenStrategy"></xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="com.mulesoft.modules.oauth2.provider.api.token.generator.MultipleRefreshTokensStrategy">
    <xs:complexContent>
      <xs:extension xmlns:oauth2-provider="http://www.mulesoft.org/schema/mule/oauth2-provider" base="oauth2-provider:com.mulesoft.modules.oauth2.provider.api.token.generator.RefreshTokenStrategy">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" name="object-store">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" minOccurs="1" maxOccurs="1" ref="mule:abstract-private-object-store"></xs:element>
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="optional" name="objectStore"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:oauth2-provider="http://www.mulesoft.org/schema/mule/oauth2-provider" type="oauth2-provider:com.mulesoft.modules.oauth2.provider.api.token.generator.MultipleRefreshTokensStrategy" substitutionGroup="oauth2-provider:abstract-refresh-token-strategy" abstract="true" name="abstract-multiple-refresh-tokens"></xs:element>
  <xs:element xmlns:oauth2-provider="http://www.mulesoft.org/schema/mule/oauth2-provider" substitutionGroup="oauth2-provider:abstract-multiple-refresh-tokens" name="multiple-refresh-tokens">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="oauth2-provider:com.mulesoft.modules.oauth2.provider.api.token.generator.MultipleRefreshTokensStrategy"></xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="com.mulesoft.modules.oauth2.provider.api.ratelimit.RateLimiter">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType"></xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns:oauth2-provider="http://www.mulesoft.org/schema/mule/oauth2-provider" type="oauth2-provider:com.mulesoft.modules.oauth2.provider.api.ratelimit.RateLimiter" substitutionGroup="mule:abstract-shared-extension" abstract="true" name="global-abstract-rate-limiter"></xs:element>
  <xs:element xmlns:oauth2-provider="http://www.mulesoft.org/schema/mule/oauth2-provider" type="oauth2-provider:com.mulesoft.modules.oauth2.provider.api.ratelimit.RateLimiter" abstract="true" name="abstract-rate-limiter"></xs:element>
  <xs:complexType name="com.mulesoft.modules.oauth2.provider.api.ratelimit.PeriodRateLimiter">
    <xs:complexContent>
      <xs:extension xmlns:oauth2-provider="http://www.mulesoft.org/schema/mule/oauth2-provider" base="oauth2-provider:com.mulesoft.modules.oauth2.provider.api.ratelimit.RateLimiter">
        <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:substitutableInt" use="optional" default="600" name="duration"></xs:attribute>
        <xs:attribute type="oauth2-provider:java.util.concurrent.TimeUnitEnumType" use="optional" default="SECONDS" name="durationTimeUnit"></xs:attribute>
        <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:substitutableInt" use="optional" default="5" name="maximumFailureCount"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:oauth2-provider="http://www.mulesoft.org/schema/mule/oauth2-provider" type="oauth2-provider:com.mulesoft.modules.oauth2.provider.api.ratelimit.PeriodRateLimiter" substitutionGroup="oauth2-provider:abstract-rate-limiter" abstract="true" name="abstract-period-rate-limiter"></xs:element>
  <xs:element xmlns:oauth2-provider="http://www.mulesoft.org/schema/mule/oauth2-provider" substitutionGroup="oauth2-provider:abstract-period-rate-limiter" name="period-rate-limiter">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="oauth2-provider:com.mulesoft.modules.oauth2.provider.api.ratelimit.PeriodRateLimiter"></xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstract-shared-extension" name="config">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractExtensionType">
          <xs:annotation>
            <xs:documentation>OAuth2 Provider module configuration</xs:documentation>
          </xs:annotation>
          <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:expiration-policy"></xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="client-validation-rate-limiter">
              <xs:annotation>
                <xs:documentation>The rate limiter used to control access to certain operations. If none is specified PeriodRateLimiter will be used as default.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:choice minOccurs="1" maxOccurs="1">
                  <xs:element xmlns:oauth2-provider="http://www.mulesoft.org/schema/mule/oauth2-provider" minOccurs="1" maxOccurs="1" ref="oauth2-provider:abstract-rate-limiter"></xs:element>
                  <xs:element xmlns:oauth2-provider="http://www.mulesoft.org/schema/mule/oauth2-provider" minOccurs="1" maxOccurs="1" ref="oauth2-provider:global-abstract-rate-limiter"></xs:element>
                </xs:choice>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="client-store">
              <xs:annotation>
                <xs:documentation>A store that allows retrieving client configuration information, like their secret. If no client store is provided, a default in memory object store is configured.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                  <xs:element minOccurs="1" maxOccurs="1" ref="mule:abstract-private-object-store"></xs:element>
                </xs:choice>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="token-config">
              <xs:annotation>
                <xs:documentation>Information for configuring token related behaviour.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension xmlns:oauth2-provider="http://www.mulesoft.org/schema/mule/oauth2-provider" base="oauth2-provider:com.mulesoft.modules.oauth2.provider.api.token.TokenConfig"></xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="authorization-config">
              <xs:annotation>
                <xs:documentation>Information for configuring authorization handling behaviour</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension xmlns:oauth2-provider="http://www.mulesoft.org/schema/mule/oauth2-provider" base="oauth2-provider:com.mulesoft.modules.oauth2.provider.api.code.AuthorizationConfig"></xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="clients">
              <xs:annotation>
                <xs:documentation>A list of clients.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element xmlns:oauth2-provider="http://www.mulesoft.org/schema/mule/oauth2-provider" minOccurs="0" maxOccurs="unbounded" ref="oauth2-provider:abstract-client"></xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute type="xs:string" use="optional" name="providerName">
            <xs:annotation>
              <xs:documentation>The provider name supplied to customers of the API.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="xs:string" use="required" name="listenerConfig">
            <xs:annotation>
              <xs:documentation>Name of a valid listener configuration used to handle incoming requests.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="xs:string" use="optional" name="clientValidationRateLimiter">
            <xs:annotation>
              <xs:documentation>The rate limiter used to control access to certain operations. If none is specified PeriodRateLimiter will be used as default.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="xs:string" use="optional" name="clientStore">
            <xs:annotation>
              <xs:documentation>A store that allows retrieving client configuration information, like their secret. If no client store is provided, a default in memory object store is configured.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" name="resourceOwnerSecurityProvider">
            <xs:annotation>
              <xs:documentation>The security provider used to authenticate resource owners. Not needed if only the CLIENT_CREDENTIALS grant type is used.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" name="clientSecurityProvider">
            <xs:annotation>
              <xs:documentation>The security provider used to authenticate clients. Not needed if only public clients or private clients with secrets are used</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="xs:string" use="optional" name="tokenGeneratorStrategy">
            <xs:annotation>
              <xs:documentation>The strategy used to generate access tokens. Should reference a class that implements TokenGeneratorStrategy</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="xs:string" use="optional" default="AUTHORIZATION_CODE" name="supportedGrantTypes">
            <xs:annotation>
              <xs:documentation>The comma-separated grant types this provider will support. If none specified, only the authorization code grant type will be supported.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="xs:string" use="optional" name="scopes">
            <xs:annotation>
              <xs:documentation>A comma-separated list of supported scopes.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="xs:string" use="optional" name="defaultScopes">
            <xs:annotation>
              <xs:documentation>A comma-separated list of the default scopes a client should have if none is defined.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="xs:string" use="optional" name="tokenConfig">
            <xs:annotation>
              <xs:documentation>Information for configuring token related behaviour.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="xs:string" use="optional" name="authorizationConfig">
            <xs:annotation>
              <xs:documentation>Information for configuring authorization handling behaviour</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionList" use="optional" name="clients">
            <xs:annotation>
              <xs:documentation>A list of clients.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="xs:string" use="required" name="name">
            <xs:annotation>
              <xs:documentation>The identifier of this element used to reference it in other components</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="com.mulesoft.modules.oauth2.provider.api.token.TokenConfig">
    <xs:annotation>
      <xs:documentation>Information for configuring token related behaviour.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" name="token-store">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element minOccurs="1" maxOccurs="1" ref="mule:abstract-private-object-store"></xs:element>
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="refresh-token-strategy">
            <xs:complexType>
              <xs:choice minOccurs="1" maxOccurs="1">
                <xs:element xmlns:oauth2-provider="http://www.mulesoft.org/schema/mule/oauth2-provider" minOccurs="1" maxOccurs="1" ref="oauth2-provider:abstract-refresh-token-strategy"></xs:element>
                <xs:element xmlns:oauth2-provider="http://www.mulesoft.org/schema/mule/oauth2-provider" minOccurs="1" maxOccurs="1" ref="oauth2-provider:global-abstract-refresh-token-strategy"></xs:element>
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="optional" default="/token" name="path"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="tokenStore"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="refreshTokenStrategy"></xs:attribute>
        <xs:attribute type="mule:substitutableInt" use="optional" default="86400" name="tokenTtl"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/oauth2-provider" type="java.util.concurrent.TimeUnitEnumType" use="optional" default="SECONDS" name="tokenTtlTimeUnit"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="com.mulesoft.modules.oauth2.provider.api.code.AuthorizationConfig">
    <xs:annotation>
      <xs:documentation>Information for configuring authorization handling behaviour</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" name="authorization-code-store">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element minOccurs="1" maxOccurs="1" ref="mule:abstract-private-object-store"></xs:element>
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="optional" default="www-static/auth.html" name="loginPage"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" default="/authorize" name="path"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="authorizationCodeStore"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="com.mulesoft.modules.oauth2.provider.api.client.Client">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" name="client-redirect-uris">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="client-redirect-uri">
                  <xs:complexType>
                    <xs:attribute type="mule:expressionString" use="required" name="value"></xs:attribute>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="client-authorized-grant-types">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="client-authorized-grant-type">
                  <xs:complexType>
                    <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/oauth2-provider" type="com.mulesoft.modules.oauth2.provider.api.Constants.RequestGrantTypeEnumType" use="required" name="value"></xs:attribute>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="client-scopes">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="client-scope">
                  <xs:complexType>
                    <xs:attribute type="mule:expressionString" use="required" name="value"></xs:attribute>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="clientId"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="principal"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="clientName"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="description"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="secret"></xs:attribute>
        <xs:attribute type="mule:expressionList" use="optional" name="clientRedirectUris"></xs:attribute>
        <xs:attribute type="mule:expressionList" use="optional" name="clientAuthorizedGrantTypes"></xs:attribute>
        <xs:attribute type="mule:expressionList" use="optional" name="clientScopes"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/oauth2-provider" type="com.mulesoft.modules.oauth2.provider.api.client.ClientTypeEnumType" use="optional" default="PUBLIC" name="type"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:oauth2-provider="http://www.mulesoft.org/schema/mule/oauth2-provider" type="oauth2-provider:com.mulesoft.modules.oauth2.provider.api.client.Client" abstract="true" name="abstract-client"></xs:element>
  <xs:element xmlns:oauth2-provider="http://www.mulesoft.org/schema/mule/oauth2-provider" substitutionGroup="oauth2-provider:abstract-client" name="client">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="oauth2-provider:com.mulesoft.modules.oauth2.provider.api.client.Client"></xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/oauth2-provider" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="CreateClientType" substitutionGroup="mule:abstract-operator" name="create-client">
    <xs:annotation>
      <xs:documentation>Creates a new client and saves it in the configured client store. &lt;p/&gt; ../../../doc/oauth2-provider-connector.xml.sample oauth2-provider:create-client</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="CreateClientType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1"></xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="clientId">
          <xs:annotation>
            <xs:documentation>the Client Id</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/oauth2-provider" type="com.mulesoft.modules.oauth2.provider.api.client.ClientTypeEnumType" use="optional" default="PUBLIC" name="type"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="secret"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="clientName">
          <xs:annotation>
            <xs:documentation>a friendly name for the Client</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="description">
          <xs:annotation>
            <xs:documentation>a brief description of the Client</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="principal">
          <xs:annotation>
            <xs:documentation>An optional principal to use when the ID can't be used with the security provider</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionList" use="optional" name="redirectUris">
          <xs:annotation>
            <xs:documentation>a list with the Client's valid redirect uris</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionList" use="optional" name="authorizedGrantTypes">
          <xs:annotation>
            <xs:documentation>the Client's supported grant types</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionList" use="optional" name="scopes">
          <xs:annotation>
            <xs:documentation>the Client's supported scopes</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:substitutableBoolean" use="optional" default="false" name="failIfPresent">
          <xs:annotation>
            <xs:documentation>boolean to indicate if the operation should fail when the client id is already used. Otherwise it should override the infotmation for the registered client</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/oauth2-provider" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="DeleteClientType" substitutionGroup="mule:abstract-operator" name="delete-client">
    <xs:annotation>
      <xs:documentation>&lt;p&gt; Deletes a client from the store. &lt;/p&gt; ../../../doc/oauth2-provider-connector.xml.sample oauth2-provider:delete-client</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="DeleteClientType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1"></xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="clientId">
          <xs:annotation>
            <xs:documentation>the Client Id</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/oauth2-provider" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="RevokeTokenType" substitutionGroup="mule:abstract-operator" name="revoke-token">
    <xs:annotation>
      <xs:documentation>&lt;p&gt; Revokes an access token or refresh token, invalidating the related refresh token or access token as well. If client credentials need to be validated the validateClient credential should be used before. &lt;/p&gt; ../../../doc/oauth2-provider-connector.xml.sample oauth2-provider:revoke-token</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="RevokeTokenType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1"></xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="token">
          <xs:annotation>
            <xs:documentation>the token to revoke, it can be an access token or a refresh token</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/oauth2-provider" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="ValidateTokenType" substitutionGroup="mule:abstract-operator" name="validate-token">
    <xs:annotation>
      <xs:documentation>&lt;p&gt; Checks that a valid access token is provided. &lt;/p&gt; &lt;p/&gt; ../../../doc/oauth2-provider-connector.xml.sample oauth2-provider:validate</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ValidateTokenType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1"></xs:sequence>
        <xs:attribute type="mule:expressionString" use="optional" default="#[(attributes.headers['authorization'] splitBy ' ')[1]]" name="accessToken"></xs:attribute>
        <xs:attribute type="mule:expressionList" use="optional" name="scopes"></xs:attribute>
        <xs:attribute type="mule:expressionList" use="optional" name="resourceOwnerRoles">
          <xs:annotation>
            <xs:documentation>The resource owner roles to enforce when validating the token</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="java.util.concurrent.TimeUnitEnumType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="NANOSECONDS"></xs:enumeration>
          <xs:enumeration value="MICROSECONDS"></xs:enumeration>
          <xs:enumeration value="MILLISECONDS"></xs:enumeration>
          <xs:enumeration value="SECONDS"></xs:enumeration>
          <xs:enumeration value="MINUTES"></xs:enumeration>
          <xs:enumeration value="HOURS"></xs:enumeration>
          <xs:enumeration value="DAYS"></xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="com.mulesoft.modules.oauth2.provider.api.Constants.RequestGrantTypeEnumType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="AUTHORIZATION_CODE"></xs:enumeration>
          <xs:enumeration value="REFRESH_TOKEN"></xs:enumeration>
          <xs:enumeration value="TOKEN"></xs:enumeration>
          <xs:enumeration value="PASSWORD"></xs:enumeration>
          <xs:enumeration value="CLIENT_CREDENTIALS"></xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="com.mulesoft.modules.oauth2.provider.api.client.ClientTypeEnumType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="CONFIDENTIAL"></xs:enumeration>
          <xs:enumeration value="PUBLIC"></xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
</xs:schema>